[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "themes/themes/cactus"]
	path = themes/themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
