textarea
{width: 100%; 
padding: 5px 10px; 
resize: vertical;
overflow: auto;
height: auto;
margin-top: 15px;
}

.comment-field
{width: 50%; 
padding: 5px 10px; 
margin-top: 15px;
}

div.commentslist{
	
}

div.commentslist > * {
}

.comments-dest{
	padding: 5px 10px; 
	margin: 20px 0px;
	border-radius: 15px;
	border: solid lightgray 2px;
}

.comments-header{
	font-weight:bold;
	font-style: italic;
	padding: 1px;
	margin-bottom: 1px;
	font-size: large;
	color: cadetblue;
}

.comments-time{
	margin-top: 1px;
	font-size:small;
}

