body {
	font-size: 18px;
	font-family: Verdana;
	font-weight: 500;
	color: #333;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 40em;
	padding: 0 1em;
	background-color: #fff;
    background-image: url(/static/images/45degreee_fabric.webp);
}
input {
	filter: drop-shadow(0.30em 0.30em 0.0em rgb(0,0,0));
	margin: 10px 0;
	width: 95%;
	height: 2em;
	font-family: monospace;
	font-weight: 500;
}
textarea {
	filter: drop-shadow(0.30em 0.30em 0.0em #000);
	margin: 10px 0;
	width: 95%;
	height: 10em;
	font-weight: 500;
}
button {
	filter: drop-shadow(0.30em 0.30em 0.0em #000);
	margin: 10px 0;
	background-color: white;
	height: 3em;
	font-weight: 500;
	font-family: monospace;
}
main {
	word-wrap: break-word;
	word-break: normal;
	background-color: white;
	padding: 10px;
	margin-bottom: 5em;
	filter: drop-shadow(10px 10px #000);
}
nav ul {
	word-wrap: break-word;
	word-break: normal;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline;
}
header h1 {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 0 10px;
}
footer {
	text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.25em 0 0.5em;
	line-height: 1.2;
}
nav a {
	font-weight: 700;
	padding: 0 4px;
	text-decoration: underline;
}
a:link {
	color: #00e;
}
a:visited {
	color: #518;
}
a:focus,
a:hover {
	color: #03f;
}
a:active {
	color: #e00;
}
header a:link {
	color: white;
	text-decoration: none;
}
header a:visited {
	color: white;
	text-decoration: none;
}
header a:focus,
header a:hover {
	color: white;
	text-decoration: none;
}
header a:active {
	color: white;
	text-decoration: none;
}
h1 a:empty:before,
h2 a:empty:before,
h3 a:empty:before,
h4 a:empty:before,
h5 a:empty:before,
h6 a:empty:before {
	content: "#";
}
h1 a:empty,
h2 a:empty,
h3 a:empty,
h4 a:empty,
h5 a:empty,
h6 a:empty {
	visibility: hidden;
	padding-left: 0.25em;
}
h1:hover a:empty,
h2:hover a:empty,
h3:hover a:empty,
h4:hover a:empty,
h5:hover a:empty,
h6:hover a:empty {
	visibility: visible;
}
img {
	max-width: 100%;
}
figure {
	margin: 1em 0;
	text-align: center;
}
figcaption {
	font-size: small;
}
code,
kbd,
pre,
samp {
	color: #009;
	font-family: monospace, monospace;
}
pre kbd {
	color: #060;
}
blockquote,
pre {
	background: #eee;
	padding: 0.5em;
}
pre {
	overflow: auto;
}
blockquote {
	border-left: medium solid #ccc;
	margin: 1em 0;
}
blockquote:first-child {
	margin-top: 0;
}
blockquote:last-child {
	margin-bottom: 0;
}
table {
	border-collapse: collapse;
}
td,
th {
	border: thin solid #999;
	padding: 0.3em 0.4em;
	text-align: left;
}
@media (prefers-color-scheme: dark) {
	body {
		font-size: 18px;
		font-family: Verdana;
		font-weight: 500;
		color: #fff;
		line-height: 1.5;
		margin: 0 auto;
		max-width: 40em;
		padding: 0 1em;
		background-color: hsl(206deg 11% 31%);
    	background-blend-mode: color-burn;
    	background-image: url(/static/images/45degreee_fabric.png);

	}
	main {
		background-color: #222;
	}
	nav a {
		background-color: #212121;
	}
	a:link {
		color: #9bf;
	}
	a:visited {
		color: #caf;
	}
	a:focus,
	a:hover {
		color: #9cf;
	}
	a:active {
		color: #faa;
	}
	code,
	kbd,
	pre,
	samp {
		color: #6cf;
	}
	pre kbd {
		color: #9c6;
	}
	blockquote,
	pre {
		background: #000;
	}
	blockquote {
		border-color: #333;
	}
	td,
	th {
		border-color: #666;
	}
}
#gallery {
	line-height: 0;
	-webkit-column-count: 3;
	-webkit-column-gap: 5px;
	-moz-column-count: 3;
	-moz-column-gap: 5px;
	column-count: 3;
	column-gap: 5px;
}
#gallery img {
	width: 100% !important;
	height: auto !important;
	margin-bottom: 5px;
}
@media (max-width: 1200px) {
	#gallery {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media (max-width: 1000px) {
	#gallery {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media (max-width: 800px) {
	#gallery {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media (max-width: 400px) {
	#gallery {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}
