{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

<form name="comments" class='comments-form'>
	<div><h3>Post a Comment</h3></div>
	<div>
		<input type="text" class='comment-field' name="alias" placeholder="Enter your name here"  id="alias" style="" required />
	</div>
	<div>
		<textarea type="text"  name="comment" placeholder="Enter your comment here"  id="comment" placeholder=" Enter comments, Markdown is supported" required > </textarea>
	</div><div>    
		<button type="button" onclick="jsonCreator(alias.value,comment.value)" id="comment-button">Mail-in Comment</button>
	</div>

	<div><p style="color:green;font-size:smaller;">The comments in are mail-in form. The site will auto-generate a mail for you, after that you just have to press send. If you don't have a mail client on your computer, please use a phone. The comment will also be copied to your clipboard if you want to send it manually or via temporary email of your choice.</p></div>
</form>
<div id='solution' class='commentslist'></div>
{{ end }}
