{{ define "main" }}
<style>
img {
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
				figcaption{
  margin-left: auto;
  margin-right: auto;
  width: 50%;

				}
</style>
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "02.01.2006" }}</time>
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
		</article>
	</main>
<form name="comments" class='comments-form'>
	<div><h3>Post Comment</h3></div>
	<div>
		<input type="text" class='comment-field' name="alias" placeholder="Your Alias"  id="alias" style="" required />
	</div>
	<div>
		<textarea type="text"  name="comment" placeholder="Enter your comment here"  id="comment" placeholder=" Enter comments" required > </textarea>
	</div><div>    
		<button type="button" onclick="postcomments()" id="comment-button">Comment</button>
	</div>
	<div><p style="color:green;font-size:smaller;">The comments in are mail-in form. The site will auto-generate a mail for you, after that you just have to press send. If you don't have a mail client on your computer, please use a phone. The comment will also be copied to your clipboard if you want to send it manually or via temporary email of your choice.</p></div>

</form>
<div id='solution'></div>
<hr>
{{ partial "sidebar.html" . }}
{{ end }}
