body {
	font-size: 0.95em;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0 auto;
	max-width: 70em;
	padding: 0 1em;
	background-color: #393840;
}
input {
	margin: 10px 0;
	width: 95%;
	font-family: sans-serif;
	height: 2em;
	outline: none;
}
button {
	align-items: center;
	padding: 6px 14px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	border-radius: 6px;
	color: #3d3d3d;
	background: #f2f2f2;
	border: none;
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
}
textarea {
	margin: 10px 0;
	width: 95%;
	height: 10em;
	outline: none;
}
main {
	word-wrap: break-word;
	word-break: normal;
	margin-bottom: 1em;
	line-height: 1.5;
}
nav ul {
	display: flex;
	flex-shrink: 0;
	flex-flow: row wrap;
	align-items: center;
	margin: 0.5em;
	padding: 0;
	font-size: 1.08em;
	justify-content:center;
}
nav li {
	display: inline;
	background-color: #FEFFD7;
	padding: 0.6em;
}
header h1 {
	font-family: sans-serif;
	margin-bottom: 0.1em;
	font-size: 2.43em !important;
}
footer {
	text-align: center;
	font-family: monospace;
	margin-bottom: 1em;
	color:white;
}
footer a{
	color: inherit !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}
nav a {
	font-weight: 500;
	text-decoration: none;
}
a:link {
	color: #457ab7;
}
a:visited {
	color: #60289b;
}
a:focus,
a:hover {
	font-style: italic;
	color: #3c6593;
}
h1 a:link,
h1 a:visited,
h1 a:focus,
h1 a:hover,
h1 a:active {
	color: #000;
	text-decoration: none;
}
h1 a:empty:before,
h2 a:empty:before,
h3 a:empty:before,
h4 a:empty:before,
h5 a:empty:before,
h6 a:empty:before {
	content: "#";
}
h1 a:empty,
h2 a:empty,
h3 a:empty,
h4 a:empty,
h5 a:empty,
h6 a:empty {
	visibility: hidden;
	padding-left: 0.25em;
}
h1:hover a:empty,
h2:hover a:empty,
h3:hover a:empty,
h4:hover a:empty,
h5:hover a:empty,
h6:hover a:empty {
	visibility: visible;
}
img {
	max-width: 100%;
}
figure {
	margin: 1em 0;
	text-align: center;
}
figcaption {
	font-size: small;
}
code,
kbd,
pre,
samp {
	color: #016e96;
	background: #eee;
	font-family: monospace, monospace;
}
pre kbd {
	color: #060;
}
blockquote,
pre {
	background: #eee;
	padding: 0.5em;
}
pre {
	overflow: auto;
}
blockquote {
	background: #fff;
	border-left: medium solid #ccc;
	padding: 0.5em 0.5em;
	font-style: italic;
	font-family: serif;
	margin: 1em 0;
}
blockquote:first-child {
	margin-top: 0;
}
blockquote:last-child {
	margin-bottom: 0;
}
table {
	border-collapse: collapse;
}
td,
th {
	border: thin solid #999;
	padding: 0.3em 0.4em;
	text-align: left;
}
#solution div {
	padding: 0.9em;
	margin: 0.5em;
	font-family: monospace;
	line-height: 1.3em;
	border: 1px solid black;
	border-radius: 16px;
}

#gallery {
	line-height: 0;
	-webkit-column-count: 3;
	-webkit-column-gap: 5px;
	-moz-column-count: 3;
	-moz-column-gap: 5px;
	column-count: 3;
	column-gap: 5px;
}
#gallery img {
	width: 100% !important;
	height: auto !important;
	margin-bottom: 5px;
}
@media (max-width: 1200px) {
	#gallery {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media (max-width: 1000px) {
	#gallery {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media (max-width: 800px) {
	#gallery {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media (max-width: 400px) {
	#gallery {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}
#date {
	font-family: monospace;
	font-size: 1.08em;
	color: gray;
	margin-top: 0px;
}
#articletitle{
	margin-bottom:0.1em;
}

.embossed {
	color: #f0f0f0;
	font-size: 100px;
	font-family: Futura;
	text-shadow: 1px 4px 4px #555;
	text-align: center;
}
.card{
	background-color: #F6F5E8;
	padding: 0.6em;
	/*	box-shadow: 5px 5px 5px rgb(0 0 0);*/
	border: 2px solid black;
}

header h1 a{
	color: #E1D564 !important;
}

nav .card{
	padding: 1px 8px;
	margin: 0px 2px;
	border-radius: 14px;
}
.cmntcard {
	grid-area: cmntcard;
	align-self:start;
}
.maincard {
	grid-area: maincard;
	align-self:start;
}
.headername{
	grid-area:headername;
	place-self:center;
}
.navmenu{
	grid-area:navmenu;
	place-self:center;
}

.headerwrapper{
	display: grid;
	gap: 7px;
	grid-template-areas:
	"headername"
	"navmenu";
}

.wrapper{
	display: grid;
	gap: 7px;
	grid-template-areas:
	"maincard"
	"cmntcard";
}

@media (min-width: 800px) {
	.headerwrapper {
		gap: 10px;
		grid-template-columns: 4fr 4fr;
		grid-template-areas:
		"headername navmenu";
	}
	.wrapper {
		gap: 10px;
		grid-template-columns: 1fr 4fr;
		grid-template-areas:
		"cmntcard maincard";
	}
	.headername{
		place-self:first baseline;
	}
	.navmenu{
		place-self:end;
	}

}
