<form name="comments" id='formcomments' method='POST' action='/cgi-bin/addcomment.cgi'>
	<div><h3>Post Comment</h3></div>
	<div>
		<input type="text" class='comment-field' name="alias" placeholder="Your Alias"  id="alias" required />
		<input type="hidden" id='texturl'  name="url"/>
		<input type="hidden" id='textdate' name="time"/>
	</div>
	<div>
		<textarea maxlength=500 name="body" placeholder="Enter your comment here (Max 500 words)"  id="comment" required ></textarea>
	</div><div>    
		<button type="button" onclick="tesubmit()"  id="comment-button">Comment</button>
	</div>
</form>
<div id='solution' class='commentslist'></div>
<script src="/static/comments.js"></script>
<script>
	function tesubmit(){
		document.getElementById('texturl').setAttribute('value',window.location.pathname);
		document.getElementById('texturl').value = window.location.pathname;
		document.getElementById('textdate').setAttribute('value',new Date().toString());
		document.getElementById('formcomments').submit();
	}

	function displaycomments(){
		var url = window.location.pathname;
		var commentslist = document.getElementById("solution");
		commentslist.insertAdjacentHTML("beforeend","<h3>Comments 👇</h3>");
			comments.forEach(value => {
			if(value.url== url){
				var txt = `
				<div>
					<small>	<b>${value.alias}</b>&nbsp;
						${value.time}</small>
				<br>
				<div>
					${value.body}				</div>
				</div>`;
				commentslist.insertAdjacentHTML("beforeend",txt);
			}
		})
	}
window.onload = displaycomments();
</script>
<footer>
	{{footer}} <br> <a href="/rss.xml">Subscribe via RSS</a>
</footer>
</main>
</body>
</html>
